## Exercício 6

- Monte uma análise estatística descritiva de um dos problemas dos parceiros (usando gráficos e histogramas, e medidas de tendencia (ex: media, desvio padrão))

In [1]:
import csv, pandas as pd, numpy as np

In [2]:
iapar_dados = pd.read_csv('./idr/idr-dados/iapar_convencionais.csv', sep=";", parse_dates = ['data'])

/home/marcia/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
iapar_dados.head()

,id,estacao_id,data,tempmax,tempmin,tempmed,tempsec9,tempsec15,tempsec21,tempumi9,...,vento10,vento2,chuva,evaporacao,insolacao,radsolar,create_user,update_user,create_time,update_time
0,166,2548070,1977-11-01,25.0,19.8,21.7,22.2,23.6,20.8,18.6,...,0.0,0.0,9.3,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,167,2548070,1977-11-02,32.8,18.4,25.4,26.6,32.6,24.6,22.8,...,0.0,0.0,12.6,0.5,0.0,0.0,NaN,NaN,NaN,NaN
2,168,2548070,1977-11-03,29.0,20.4,23.3,23.4,25.8,21.8,21.6,...,0.0,0.0,1.2,2.5,0.0,0.0,NaN,NaN,NaN,NaN
3,169,2548070,1977-11-04,21.8,18.8,19.7,19.8,20.8,19.0,19.2,...,0.0,0.0,22.4,1.3,0.0,0.0,NaN,NaN,NaN,NaN
4,170,2548070,1977-11-05,25.2,18.6,20.6,19.8,21.4,19.6,18.8,...,0.0,0.0,11.0,0.6,0.0,0.0,NaN,NaN,NaN,NaN

In [4]:
iapar_dados.columns

Index(['id', 'estacao_id', 'data', 'tempmax', 'tempmin', 'tempmed', 'tempsec9',
       'tempsec15', 'tempsec21', 'tempumi9', 'tempumi15', 'tempumi21', 'umid9',
       'umid15', 'umid21', 'umidrel', 'vento10', 'vento2', 'chuva',
       'evaporacao', 'insolacao', 'radsolar', 'create_user', 'update_user',
       'create_time', 'update_time'],
      dtype='object')

In [5]:
iapar_dados.describe()

,id,estacao_id,tempmax,tempmin,tempmed,tempsec9,tempsec15,tempsec21,tempumi9,tempumi15,...,umidrel,vento10,vento2,chuva,evaporacao,insolacao,radsolar,create_user,update_user,create_time
count,453845.000000,4.538450e+05,453845.000000,453845.000000,453845.000000,453845.000000,453845.000000,453845.000000,453845.000000,453845.000000,...,453845.000000,453845.000000,453845.000000,453845.000000,453845.000000,453845.000000,453845.000000,0.0,7.0,0.0
mean,227272.330791,2.473049e+06,32.052926,21.506729,25.781491,24.908841,30.571107,25.153270,25.526815,27.735814,...,88.605582,2739.687458,305554.467457,65.308703,4.723995,8.580533,2865.404186,NaN,1.0,NaN
std,131333.310173,1.143652e+05,66.102828,67.952407,66.591180,68.476281,68.016988,68.423441,72.228687,71.967131,...,98.562069,3614.807787,367185.968291,682.343536,11.822767,13.291395,3632.901635,NaN,0.0,NaN
min,166.000000,2.251027e+06,0.000000,-6.800000,-2.900000,-4.600000,-0.400000,-4.600000,-4.400000,-1.200000,...,0.000000,0.000000,0.000000,0.000000,-9.500000,0.000000,0.000000,NaN,1.0,NaN
25%,113627.000000,2.351011e+06,23.100000,12.800000,17.200000,15.800000,21.400000,16.400000,14.300000,17.000000,...,65.900000,107.600000,0.000000,0.000000,1.400000,2.800000,0.000000,NaN,1.0,NaN
50%,227088.000000,2.453023e+06,26.800000,16.200000,20.500000,19.600000,25.400000,19.800000,17.600000,19.800000,...,76.700000,231.500000,50001.460000,0.000000,2.500000,7.300000,361.000000,NaN,1.0,NaN
75%,340549.000000,2.551010e+06,30.000000,19.000000,23.200000,22.800000,28.800000,22.600000,20.600000,22.400000,...,86.100000,7777.700000,777777.770000,3.000000,4.000000,9.800000,7777.700000,NaN,1.0,NaN
max,464195.000000,2.653012e+06,777.700000,777.700000,777.700000,777.700000,777.700000,777.700000,777.700000,777.700000,...,777.700000,7777.700000,777777.770000,7777.700000,77.700000,77.700000,7777.700000,NaN,1.0,NaN