<a href="https://colab.research.google.com/github/mrcrdg/jupyter_set/blob/master/Scikit_Pipelines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings
warnings.filterwarnings('ignore')

# Scikit-learn Pipelines

## Definição Manual de um Pipeline

### Leitura do dataset

Estamos utilizando o dataset do Titanic, disponível no [kaggle](https://www.kaggle.com/c/titanic/data?select=train.csv),

In [ ]:
!pip install gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.6/dist-packages (3.6.4)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from gdown) (4.41.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->gdown) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->gdown) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->gdown) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->gdown) (3.0.4)

In [ ]:
!gdown https://drive.google.com/uc?id=1nUojuf_X8r3MMEpa60PZkes5rk1eCueI

Downloading...
From: https://drive.google.com/uc?id=1nUojuf_X8r3MMEpa60PZkes5rk1eCueI
To: /content/train_titanic.csv
100% 61.2k/61.2k [00:00<00:00, 52.5MB/s]

In [ ]:
import pandas as pd

In [ ]:
titanic_data = pd.read_csv('train_titanic.csv')

In [ ]:
titanic_data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

Remover colunas inúteis

In [ ]:
titanic_data.drop(["Name", "Ticket", "Cabin"], axis=1, inplace=True)

In [ ]:
titanic_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

### Verificar valores faltando

In [ ]:
print("Missing Values: {}".format(titanic_data.isna().values.sum()))

Missing Values: 179

Listar colunas com valores faltando

In [ ]:
titanic_data.isna().any()

PassengerId    False
Survived       False
Pclass         False
Sex            False
Age             True
SibSp          False
Parch          False
Fare           False
Embarked        True
dtype: bool

Imputar valores faltantes

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np

In [ ]:
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(titanic_data)
titanic_data = imputer.transform(titanic_data)

In [ ]:
titanic_data[:10]

array([[1, 0, 3, 'male', 22.0, 1, 0, 7.25, 'S'],
       [2, 1, 1, 'female', 38.0, 1, 0, 71.2833, 'C'],
       [3, 1, 3, 'female', 26.0, 0, 0, 7.925, 'S'],
       [4, 1, 1, 'female', 35.0, 1, 0, 53.1, 'S'],
       [5, 0, 3, 'male', 35.0, 0, 0, 8.05, 'S'],
       [6, 0, 3, 'male', 24.0, 0, 0, 8.4583, 'Q'],
       [7, 0, 1, 'male', 54.0, 0, 0, 51.8625, 'S'],
       [8, 0, 3, 'male', 2.0, 3, 1, 21.075, 'S'],
       [9, 1, 3, 'female', 27.0, 0, 2, 11.1333, 'S'],
       [10, 1, 2, 'female', 14.0, 1, 0, 30.0708, 'C']], dtype=object)

### Codificar classes em categorias numéricas

Vamos utilizar o plugin category_encoders do scikit-learn para utilizar o OneHotEncoder em dados textuais

In [ ]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 2.2MB/s
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.4)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.17.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [ ]:
from category_encoders import OneHotEncoder

In [ ]:
enc = OneHotEncoder()

Vamos aplicar o encoder as colunas (variáveis independentes) que possuem dados categóricos

In [ ]:
enc.fit(titanic_data[:,3])
titanic_data = np.column_stack((titanic_data, enc.transform(titanic_data[:,3])))
titanic_data = np.delete(titanic_data, 3, axis=1)

In [ ]:
titanic_data[:10]

array([[1, 0, 3, 22.0, 1, 0, 7.25, 'S', 1, 0],
       [2, 1, 1, 38.0, 1, 0, 71.2833, 'C', 0, 1],
       [3, 1, 3, 26.0, 0, 0, 7.925, 'S', 0, 1],
       [4, 1, 1, 35.0, 1, 0, 53.1, 'S', 0, 1],
       [5, 0, 3, 35.0, 0, 0, 8.05, 'S', 1, 0],
       [6, 0, 3, 24.0, 0, 0, 8.4583, 'Q', 1, 0],
       [7, 0, 1, 54.0, 0, 0, 51.8625, 'S', 1, 0],
       [8, 0, 3, 2.0, 3, 1, 21.075, 'S', 1, 0],
       [9, 1, 3, 27.0, 0, 2, 11.1333, 'S', 0, 1],
       [10, 1, 2, 14.0, 1, 0, 30.0708, 'C', 0, 1]], dtype=object)

In [ ]:
enc.fit(titanic_data[:,7])
titanic_data = np.column_stack((titanic_data, enc.transform(titanic_data[:,7])))
titanic_data = np.delete(titanic_data, 7, axis=1)

In [ ]:
titanic_data[:10]

array([[1, 0, 3, 22.0, 1, 0, 7.25, 1, 0, 1, 0, 0],
       [2, 1, 1, 38.0, 1, 0, 71.2833, 0, 1, 0, 1, 0],
       [3, 1, 3, 26.0, 0, 0, 7.925, 0, 1, 1, 0, 0],
       [4, 1, 1, 35.0, 1, 0, 53.1, 0, 1, 1, 0, 0],
       [5, 0, 3, 35.0, 0, 0, 8.05, 1, 0, 1, 0, 0],
       [6, 0, 3, 24.0, 0, 0, 8.4583, 1, 0, 0, 0, 1],
       [7, 0, 1, 54.0, 0, 0, 51.8625, 1, 0, 1, 0, 0],
       [8, 0, 3, 2.0, 3, 1, 21.075, 1, 0, 1, 0, 0],
       [9, 1, 3, 27.0, 0, 2, 11.1333, 0, 1, 1, 0, 0],
       [10, 1, 2, 14.0, 1, 0, 30.0708, 0, 1, 0, 1, 0]], dtype=object)

### Criação e avaliação dos modelos de classificação

Separar em treino e teste

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
y = titanic_data[:,1].astype('int')

In [ ]:
X = np.delete(titanic_data,1,axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

Comparação do score de alguns modelos

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

In [ ]:
lr = LogisticRegression()
gnb = GaussianNB()

In [ ]:
lr.fit(X_train, y_train)
gnb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

Calcular scores dos classificadores:

In [ ]:
print("Score Logistic Regression: {:.2f}".format(lr.score(X_test, y_test)))
print("Score Naive Bayes: {:.2f}".format(gnb.score(X_test, y_test)))

Score Logistic Regression: 0.76
Score Naive Bayes: 0.79

## Definindo um workflow com Scikit-learn pipeline
* A mesma análise anterior, porem, incluindo cada avaliação em um objeto pipe
* Ao final um pipeline com outros pipes sao executados
* Um pipe possui uma ou mais transformações,por exemplo, normalização, codificação (objetos que possuem a função `transform()`), e por último um classificador (que possui a função `fit()`)

In [ ]:
titanic_data = pd.read_csv('train_titanic.csv')

# retirando colunas com nome, ingresso e cabine dos conjuntos
titanic_data.drop(["Name", "Ticket", "Cabin"], axis=1, inplace=True)

Separando dados em teste e treino

In [ ]:
from sklearn.model_selection import train_test_split
# dividindo em conjunto de treino e test
X_train, X_test, y_train, y_test = train_test_split(titanic_data.drop(['Survived'], 
                                                                      axis=1), 
                                                    titanic_data['Survived'], 
                                                    test_size=0.3, 
                                                    random_state=42)

### Criação de pipes

Pipeline para pré-processamento das variáveis `Age` e `Fare`

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from category_encoders import OneHotEncoder

In [ ]:
num_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median'))
])

Pipeline para pré-processamento das variáveis `Sex` e `Embarked`

In [ ]:
cat_transformer = Pipeline(steps=[
    ('one-hot encoder', OneHotEncoder())
])

Concatenação de pre-processadores

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
preprocessor = ColumnTransformer(transformers=[
    ('num', num_transformer, ['Age', 'Fare']),
    ('cat', cat_transformer, ['Sex', 'Embarked'])
])

Criando o modelo usando pipeline e um classificador `LogisticRegression`

### Definição do pipeline completo

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

In [ ]:
model_lr = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('lr', LogisticRegression())
])

model_nb = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('nb', GaussianNB())
])

Realizar o `fit` dos modelos

In [ ]:
model_lr.fit(X_train, y_train)
model_nb.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('preprocessor',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num',
                                                  Pipeline(memory=None,
                                                           steps=[('imputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value=None,
                                                                                 missing_values=nan,
                                                                                 strategy='median',
                                                                                 verbose=0))],
                                                           verbose=False),
                                                  ['Age', 'Fare']),
                                                 ('cat',
                                                  Pipeline(memory=None,
                                                           steps=[('one-hot '
                                                                   'encoder',
                                                                   OneHotEncoder(cols=None,
                                                                                 drop_invariant=False,
                                                                                 handle_missing='value',
                                                                                 handle_unknown='value',
                                                                                 return_df=True,
                                                                                 use_cat_names=False,
                                                                                 verbose=0))],
                                                           verbose=False),
                                                  ['Sex', 'Embarked'])],
                                   verbose=False)),
                ('nb', GaussianNB(priors=None, var_smoothing=1e-09))],
         verbose=False)

### Avaliação dos modelos definidos nos pipelines

In [ ]:
print("Score Logistic Regression: {:.2f}".format(model_lr.score(X_test, y_test)))
print("Score Naive Bayes: {:.2f}".format(model_nb.score(X_test, y_test)))

Score Logistic Regression: 0.78
Score Naive Bayes: 0.71

## Exercício

### Tarefas
* Adicionar Scalers para a variável `Fare`
* Adicionar Discretizador para a variável `Age`